@model IEnumerable<Athenathon_Webseite.Models.User>
@using System.Security.Claims;

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">User list</h2>
        </div>

        <div class="col-6 text-right">
            @if (User.HasClaim(ClaimTypes.Role, "Admin"))
            {
                <a asp-controller="User" asp-action="Create" class="btn btn-primary">Add new User</a>
            }
        </div>
        <div class="col-3">
            @using (Html.BeginForm("Index", "User", FormMethod.Get))
            {
                @Html.TextBox("searchText")<input type="submit" value="Search" />}
        </div>
        @if (User.HasClaim(ClaimTypes.Role, "Admin"))
        {
            <p class="text-primary">You can search after User-ID, User-Name, University and Role</p> 
        }
        else
        {
            <p class="text-primary">You can search after User-ID, User-Name and University</p>
        }
    </div>

        <br />
        @if (Model.Count() > 0)
        {
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    User ID
                </th>
                <th>
                    User Email
                </th>
                <th>
                    University
                </th>
                <th>
                    Password
                </th>
                <th>
                    Name
                </th>
                <th>
                    Role
                </th>
                <th>
                    Manage
                </th>
            </tr>
        </thead>
        <tbody>
            @*Representation of all Users in the database*@
            @foreach (var user in Model)
            {
    <tr>
        <td width="10%">@user.Id</td>
        <td width="30%">@user.Email</td>
        <td width="30%">@user.University</td>
        <td width="30%">@user.Password</td>
        <td width="30%">@user.Name</td>
        <td width="30%">@user.Roles</td>
        <td width="40%">
            <div class="w-75 btn-group" role="group">
                <a asp-controller="User" asp-action="Update" asp-route-Id="@user.Id" class="btn btn-primary mx-1">Update</a>
                @if (User.HasClaim(ClaimTypes.Role, "Admin"))
                {
                    <a asp-controller="User" asp-action="UpdateRole" asp-route-Id="@user.Id" class="btn btn-primary mx-1">Update Role</a>
                    <a asp-controller="User" asp-action="Delete" asp-route-Id="@user.Id" class="btn btn-danger mx-1">Delete</a>}
                </div>
        </td>
    </tr>
           }
        </tbody>
    </table> }
else
{
    <p>No Users registered!</p>}
    
    <div class="form-group row">
    <div class="col-2">
        <a asp-action="Index" padding="10px 24px" class="btn btn-info w-75">Back to all</a>
    </div>
    
    </div>
    </div>